;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[hiccups "0.3.0"]]

 :builds
  {:function
  {:target :node-library
   :exports {:handler my-twilio-function/my-function}
   :output-to "functions/my-function.js"
   :compiler-options {:optimizations :advanced}}}}
