;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
  {:function
  {:target :node-library
   :exports {:handler my-twilio-function/my-function}
   :compiler-options {:optimizations :advanced}
   :output-to "functions/function.js"}}}
